
<div id="skrollr-body">
    <div id="parallax-banner">
 
        <div class="banner" id="parallax-layer1" data-0="top:0%;" data-804="top:30%;"></div>  
        <div class="banner" id="parallax-layer2" data-0="top:0%;" data-704="top:20%;"></div> 
        <div class="banner" id="parallax-layer3"></div> 			

    <div class="parallax-overlay">
    


    </div>
    </div>
</div>

<!-- This is the area below the Parallax/Skrollr -->

<div class="post_parallax">
   
   
</div>