<div id="entry_bg">
</div>

<div class="modern-form">
  <h3>Edit! Or NOT to EDIT?</h3>
    <form action="/entry/update/<%= @entry.id %>" method="POST">
    
    <fieldset class='float-label-field label float'>
    <label for="title">Title:</label>
    <input name="title" type="text" class="form-control" value="<%= @entry.title %>">
    </fieldset>
    
    <fieldset class='float-label-field label float'>
    <label for="comment">Comment:</label><p>
    <textarea name="message" class="form-control" rows="5" id="comment"><%= @entry.message %></textarea></p>
    </fieldset>

    <button type="submit" class="btn_rmx">Submit</button>

    <a href="/dashboard"><button type="button">Back</button></a>
   
    </form>
</div>




<div class="form-group">


