<div class="col-xs-6 col-md-2">
</div>
</div>


<div class="fullscreen-bg">
    <video loop muted autoplay poster="https://j.gifs.com/pQjEym.gif" class="fullscreen-bg__video">
            <source src="/videos/lisa_lisa-i_wonder_edit.mp4" type="video/mp4">
<!--        <source src="video/big_buck_bunny.webm" type="video/webm">-->

<!--        <source src="video/big_buck_bunny.ogv" type="video/ogg">-->
    </video>
</div>

<section id="jod">
<div class="jod-img">
<img class="jodrmx" src="/images/artwork/lisa_lisa_-_i_wonder_if.jpg" alt=""></div>
<img src="/images/available.svg" class="available-img">
</section>