<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata:700|Libre+Baskerville:700|Montserrat:900" rel="stylesheet">
    <link rel="stylesheet" href="/rstyles.css">
    <meta charset="UTF-8">
    <title>Freestyle Nation</title>
</head>
    <body>

        <%= yield %>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/rscripts.js"></script>
    </body>
 </html>