<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/rstyles.css">
    <link href="https://fonts.googleapis.com/css?family=Teko:700" rel="stylesheet">
    <title>Freestyle.</title>
</head>
<body>
 
  <div class="header">
    <h1 class="logo"><a href="/">FREESTYLE.</a> <a href="/login">LOGIN</a> <a href="/signup">SIGNUP</a></h1>
   </div>
   
    <%= yield %> 
</body>
</html>