<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/rstyles.css">
    <meta charset="UTF-8">
    <title>Freestyle Nation</title>
</head>
    <body>

        <%= yield %>
    
    </body>
 </html>