<div class="container-fluid cont_rmx">
    <div class="row header">
        <div class="col-xs-12 col-sm-6 col-md-10"><h1 class="larger_font">Freestyle Nation</h1></div>
            
        <div class="col-xs-6 col-md-2">
        </div>
    </div>
        <div class="row">
            <div class="fullscreen-bg">
            <video loop muted autoplay poster="https://j.gifs.com/pQjEym.gif" class="fullscreen-bg__video">
            <source src="/videos/lisa_lisa-i_wonder_edit.mp4" type="video/mp4">
            <source src="video/big_buck_bunny.webm" type="video/webm">-->
            <source src="video/big_buck_bunny.ogv" type="video/ogg">-->
            </video>
            </div>
               
            
        <div class="col-xs-8 col-sm-6 col-md-6 form_remix">
            
                <form action="/login" method="POST" class="form-inline">
                 
                  <div class="form-group">
                    <label class="sr-only" for="exampleInputEmail3">Email address</label>
                    <input name="email" type="email" class="form-control input-lg" id="exampleInputEmail3" placeholder="Email">
                  </div>
                  
                  <div class="form-group">
                    <label class="sr-only" for="exampleInputPassword3">Password</label>
                    <input name="password" type="password" class="form-control input-lg" id="exampleInputPassword3" placeholder="Password">
                  </div>
    
                  <button type="submit" class="btn btn-success">Login</button>
                  
                </form>
                <small>Don't have an account? Sign up <a href="/signup">here.</a></small>

        </div>
          <!-- Optional: clear the XS cols if their content doesn't match in height -->
        <div class="clearfix visible-xs-block"></div>
        <div class="col-md-4 hidden-sm hidden-xs">
            <!--            emtpy-->
        </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="/skrollr.js"></script>
    <script type="text/javascript">
    var s = skrollr.init();
    </script>