<h1 class="larger_font">Freestyle Nation</h1>
            

<div class="fullscreen-bg">
<video loop muted autoplay poster="https://j.gifs.com/pQjEym.gif" class="fullscreen-bg__video">
<source src="/videos/lisa_lisa-i_wonder_edit.mp4" type="video/mp4">
</video>
</div>

                 
    <div class="modern-form">
      <h3>LOGIN</h3>

    <form action="/login" method="POST">

    <fieldset class='float-label-field'>
      <label for="txtConfirmPassword">Email</label>
      <input id="txtConfirmPassword" type='email' name="email">
    </fieldset>

    <fieldset class='float-label-field'>
      <label for="txtPassword">Password</label>
      <input id="txtPassword" type='text' name="password">
    </fieldset>

   <button type="submit" class="btn_rmx">Submit</button>
    </form>
        <div class="small_text centered title_font"><p>
        Don't have an account? Sign up <a href="/signup">HERE!</a></p>
        </div>
        <div class="centered title_font"><p class="title_font">
        <a href="/freestyle">UH...WHAT IS FREESTYLE?</a></p>
        </div>
    </div>

   
