<div class="signup_contents">

<form action="/entry/create" method="POST">
    <p>Title: <input type="text" name="title" placeholder="Title"></p>
    
    <p>Contents: <textarea rows="4" cols="50" name="message" placeholder="Your Text Goes Here"></textarea></p>
    
    <p><input type="submit" value="Submit"></p>
</form>
</div>