<div class="col-xs-6 col-md-2">
</div>
</div> <!--this DIV must remain for code to work-->

<div id="entry_bg">
</div>

<div class="col-xs-8 col-sm-6 col-md-6 form_remix">

<form action="/entry/create" method="POST">
    
<div class="form-group">
<label for="title">Title:</label>
<input name="title" type="text" class="form-control" placeholder="Title">
</div>
    
<div class="form-group">
<label for="comment">Comment:</label>
<textarea name="message" class="form-control" rows="5" id="comment" placeholder="Your Text Goes Here"></textarea>
</div>

<!--<p><input type="submit" value="Submit"></p>-->
    <p></p><button type="submit" class="btn btn-primary">Submit</button></p>
    
</form>

<a href="/dashboard"><button type="button" class="btn btn-success">Back</button></a>

</div>