<div class="fullscreen-bg">
    <video loop muted autoplay poster="https://j.gifs.com/pQjEym.gif" class="fullscreen-bg__video">
    <source src="/videos/ss_hooked_on_you.mp4" type="video/mp4">
    </video>
</div>     
                
<div class="modern-form">
  <h3>Sign up. Get Full Access.</h3>

    <form action="/signup" method="POST">
    <fieldset class='float-label-field'>
      <label for="txtName">First Name</label>
      <input id="txtName" type='text' name="first_name">
    </fieldset>

    <fieldset class='float-label-field'>
      <label for="txtEmail" >Last Name</label>
      <input id="txtEmail" type='text' name="last_name">
    </fieldset>

    <fieldset class='float-label-field'>
      <label for="txtEmail" >Nickname</label>
      <input id="txtEmail" type='text' name="nickname">
    </fieldset>

    <fieldset class='float-label-field'>
      <label for="txtConfirmPassword">Email</label>
      <input id="txtConfirmPassword" type='email' name="email">
    </fieldset>

    <fieldset class='float-label-field'>
      <label for="txtPassword">Password</label>
      <input id="txtPassword" type='text' name="password">
    </fieldset>

   <button type="submit" class="btn_rmx">Submit</button>
    </form>
    
</div>
